   .tab-content .tab-content {
            padding-top: 10px;
        }
        
        .tab-content .nav-tabs li.active a {
            font-size: 20px;
            color: #b1e4e3 !important;
            /*bleu lagon*/
            background-color: #BA8CA4;
            border-bottom: 5px solid #b1e4e3;
            /*#94BCC8*/
            /*bleu lagon*/
        }
        
        .tab-content .nav-tabs li a:hover {
            color: #94BCC8;
            background-color: #BA8CA4;
            border-bottom: 5px solid #94BCC8;
            /*bleu lagon*/
        }
        
        .tab-content .nav-tabs li a {
            color: #b1e4e3;
            border-bottom: 5px solid #b1e4e3;
            font-weight:bold;
            /*bleu lagon*/
        }
        
        .table {
            /*border: 1px solid #CC9933;*/
            border: 0px;
        }
        
        .table-bordered > thead > tr > th,
        .table-bordered > tbody > tr > th,
        .table-bordered > tfoot > tr > th,
        .table-bordered > thead > tr > td,
        .table-bordered > tbody > tr > td,
        .table-bordered > tfoot > tr > td {
            border: 0px;
            color: black;
        }
        
        .table > thead > tr > th {
            vertical-align: top;
        }
        
        .captionFeminin {
            color:white;
            font-size:22px;
            font-weight: bold;
            font-family: "Handlee"; 
        }
        
         .captionFemininLarge {
            color:white;
            font-size:24px;
            font-weight: bold;
            font-family: "Handlee"; 
        }
        
        td .dots-mains {
            max-width: 400px;
            overflow: hidden;
            white-space: nowrap;
        }
        
        div.dots-mains:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        td .dots-pieds {
            max-width: 480px;
            overflow: hidden;
            white-space: nowrap;
        }
        
        div.dots-pieds:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-dermo {
            width: 460px;
            overflow: hidden;
            white-space: nowrap;
            /*text-overflow: hidden;*/
        }
        
        div.dots-dermo:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-epilation-oriental {
            width: 400px;
            overflow: hidden;
            white-space: nowrap;
            /*text-overflow: hidden;*/
        }
        
        div.dots-epilation-oriental:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-epilation-pince {
            width: 300px;
            overflow: hidden;
            white-space: nowrap;
            /*text-overflow: hidden;*/
        }
        
        div.dots-epilation-pince:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-soins-corps {
            width: 460px;
            overflow: hidden;
            white-space: nowrap;
            /*text-overflow: hidden;*/
        }
        
        div.dots-soins-corps:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-petits-plus {
            width: 371px;
            overflow: hidden;
            white-space: nowrap;
        }
        
        div.dots-petits-plus:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        div.dots-soins-visage {
            width: 300px;
            overflow: hidden;
            white-space: nowrap;
        }
        
        div.dots-soins-visage:after {
            content: " . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
        }
        
        /*table { table-layout: fixed; }
        table th, table td { overflow: auto; }*/